<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello boyz</title>
</head>
<body>
    <h1>Hello boyz</h1>
    <h3>User info</h3>
    <p>
        Name: {{ .Fname }} {{ .Lname }}<br>
        Age: {{ .Age }}<br>
        Happyness: {{ .Happyness }}
    </p>
    <p>Langs:</p>
    <ul>
        {{ range .Langs}}
            <li>{{ . }}</li>
        {{ else }}
            No data
        {{ end }}
    </ul>
</body>
</html>